name: autofix.ci

on:
  pull_request:
permissions:
  contents: write

jobs:
  autofix:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js lts/*
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install
        run: pnpm i

      - name: Lint
        run: pnpm run lint:fix
